.comment {
    border: 2px solid $main;
    margin: 1rem 0;
    border-radius: 9px;
    padding: 0 1rem;

    p {
        word-break: break-all;
    }

    &__nested {
        padding: 0 1rem;
        margin: 0 1rem;
        border: none;
        border-radius: 0 !important;
        border-left: 2px solid $main;
        transition: 0.3s;
    }

}